body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

#app-bar {
	text-align: left;
}

.login-btn {
	margin: 5px;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
}

#new-pin-form {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 101;
} 

/* MASONARY CSS */

.masonry-container {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.masonary-container p {
  text-align: center;
  padding: 4px;
  font-family: monospace;
  background: #222;
  color: #efefef;
}

.masonry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  width: 100%;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 20%;
  margin: 5px;
}

@media screen and (min-width: 800px) {
  .column {
    width: 25%
  }
}
@media screen and (min-width: 600px) {
  .column {
    width: 33.333%
  }
}
@media screen and (min-width: 400px) {
  .column {
    width: 50%
  }
}
@media screen and (max-width: 400px) {
  .column {
    width: 100%
  }
}

.tile {
  margin-bottom: 10px;
}
/* END MASONARY CSS */

.pin-actions {
  box-shadow: 0 0 10px #555;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pin-actions img {
  border-radius: 25px;
  width: 50px;
  height: 50px;
}
