body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f8fc
}

#app-bar {
	text-align: left;
}

#flat-menu-container {
  display: flex;
}

.menu-btn {
  margin-top: 5px;
}

.login-btn {
	margin: 5px;
}

.page {
  padding-top: 15px;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
}

#new-pin-form {
  position: absolute;
  width: 300px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -150px;
  z-index: 101;
}

.masonry-container {
  margin: auto;
}

.tile {
  width: 290px;
  margin: auto;
}

.pin-actions {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pin-actions img {
  margin: 4px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.pin-actions img:hover {
  cursor: pointer;
}

.like-container {
  display: flex;
  margin-right: 4px;
  color: #fff;
}

#back-to-all-btn {
  margin: 18px auto 26px auto;
}
